In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.arange(10,22).reshape(3,4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [10]:
df.loc["b":,"B":"C"]

    B   C
b  15  16
c  19  20

In [11]:
type(df.loc["b":,"B":"C"])

pandas.core.frame.DataFrame

In [12]:
df[df.A>10] # df.loc

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [13]:
type(df[df.A>10])

pandas.core.frame.DataFrame

In [21]:
df.C[df.A>10]

b    16
c    20
Name: C, dtype: int32

In [15]:
type(df.C[df.A>10])

pandas.core.series.Series

In [17]:
def find_rows(df):
    return df.A > 12

type(df.loc[find_rows(df), ["C"]])

pandas.core.frame.DataFrame

In [23]:
df.loc[find_rows(df), ["C"]]

    C
b  16
c  20

In [28]:
df.loc[:, ["A", "B"]]

    A   B
a  10  11
b  14  15
c  18  19