In [4]:
import pandas as pd

In [5]:
s = pd.Series([9904312, 3448737, 2890451, 2466052], index=["서울", "부산","인천", "대구"])

In [3]:
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [5]:
s.name="인구"
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [6]:
s.index.name="도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [7]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [8]:
s[0], s["부산"]

(9904312, 3448737)

In [10]:
type(s[["인천","서울","부산"]])

pandas.core.series.Series

In [11]:
type(s[1])

numpy.int64

In [6]:
s[(250e4<s) & (s < 500e4)]

부산    3448737
인천    2890451
dtype: int64

In [7]:
s[(250e4<s) | (s < 500e4)]

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [16]:
s[["부산", "대구"]]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

In [19]:
for k, v in s.items():
    print(k,v)

서울 9904312
부산 3448737
인천 2890451
대구 2466052

In [18]:
type(s)

pandas.core.series.Series

In [26]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158}, index=["서울", "부산", "인천", "대전"])
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [29]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [30]:
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [31]:
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [32]:
rs = (s-s2)/s2 * 100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [35]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [36]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [37]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [38]:
df.index.name = "도시"
df.columns.name = "특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [42]:
df [["2010","2015"]]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [44]:
df.describe()

특성             2015          2010          2005          2000  2010-2015 증가율
count  4.000000e+00  4.000000e+00  4.000000e+00  4.000000e+00       4.000000
mean   4.677388e+06  4.522120e+06  4.562197e+06  4.612434e+06       0.039225
std    3.507776e+06  3.431328e+06  3.500545e+06  3.538749e+06       0.039809
min    2.466052e+06  2.431774e+06  2.456016e+06  2.466338e+06       0.014100
25%    2.784351e+06  2.581970e+06  2.502264e+06  2.472077e+06       0.015750
50%    3.169594e+06  3.012613e+06  3.015114e+06  3.064714e+06       0.022300
75%    5.062631e+06  4.952764e+06  5.075047e+06  5.205071e+06       0.045775
max    9.904312e+06  9.631482e+06  9.762546e+06  9.853972e+06       0.098200

In [45]:
df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41